# configuration example
[server]
port = 8080

[[routes]]
method = "GET"
path = "/hello/:world"
sleep = 0
[routes.response]
hello = "$path.world"

[[routes]]
method = "GET"
path = "/hello"
sleep = 0
[routes.response]
hello = "$query.text"
object = { key = "$query.text" }
array = ["$query.text"]

[[routes]]
method = "POST"
path = "/hello"
[routes.response]
hello = "$header.Accept-Encoding"
